# Data files
*.h5
*.mscz
*.abc
*.txt
*.log
.idea
*.PNG
*.pyc
.mid
.npy

# Dataset Files
dataset/McGill-BillBoard
dataset/Nottingham
dataset/Nottingham-Data
dataset/Nottingham-midi
dataset/Nottingham-Piano
dataset/Nottingham-Piano-shifted
dataset/Nottingham-shifted-midi
dataset/*.mid
evaluation/chord_samples
evaluation/note_evaluation_results

# Collections
chord/collections/
generator/collections/
note/collections/

# Showcase
showcase/

# Visualizer generations
visualizer/app/static/
