<h3>Song Generation by Note (Experimental)</h3>
<p>Input your starting notes, number of bars and style. A 16-bar music with melody and accompaniment will be generated.</p>
<div>
    <form action="/play_notes" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Chord</label>
            <div class="col-sm-10">
                <input id="notes_input" type="text" name="notes" style="display:none;">
                <p id="notes"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Choose model:</label>
            <div class="col-sm-6">
                <select class="form-control" name="model_name">
                  <option>Bidirectional</option>
                  <option>Regularized</option>
                  <option>Embedding</option>
                  <option>Seq2seq</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Style</label>
            <div class="col-sm-6">
                <select class="form-control" name="style">
                  <option>Piano</option>
                  <option>Techno</option>
                  <option>Strings</option>
                  <option>Organ</option>
                  <option>Church</option>
                </select>
            </div>
        </div>
        <button name="forwardBtn" type="submit" class="btn btn-primary" onclick="$('.progress').removeClass('hidden');$('.progress-bar').animate({width: '80%' }, 2500);">Generate</button>
        <br/>
        <br/>
        <div class="col-xs-12 col-sm-12 progress-container">
            <div class="progress progress-striped hidden">
            <div class="progress-bar progress-bar-success" style="width:0%">Generating...</div>
        </div>
    </div>
    </form>

<!--{% with messages = get_flashed_messages() %}-->
    <!--{% for m in messages %}-->
        <!--<p>{{ m }}</p>-->
    <!--{% endfor %}-->
<!--{% endwith %}-->
</div>

<script src="https://cdn.jsdelivr.net/npm/webmidi"></script>
<script type="text/javascript">
    let audioContext = new (window.AudioContext || window.webkitAudioContext);
    let oscList = [];
    let masterGainNode = null;
    let keyboard = document.querySelector(".keyboard");
    let wavePicker = document.querySelector("select[name='waveform']");
    let volumeControl = document.querySelector("input[name='volume']");
    let noteFreq = null;
    let customWaveform = null;
    let sineTerms = null;
    let cosineTerms = null;
    let oscDict = {};
    let timeDict = {};
    let noteList = [];
    let noteNames = [];

    sineTerms = new Float32Array([0, 0, 1, 0, 1]);
    cosineTerms = new Float32Array(sineTerms.length);
    customWaveform = audioContext.createPeriodicWave(cosineTerms, sineTerms);

    function playTone(tone, freq) {
      osc = audioContext.createOscillator();
      osc.connect(audioContext.destination);
      oscDict[tone] = osc;

      let type = "sine";

      if (type == "custom") {
        osc.setPeriodicWave(customWaveform);
      } else {
        osc.type = type;
      }

      osc.frequency.value = freq;
      osc.start();

      return osc;
    }

    function stopTone(tone) {
        oscDict[tone].stop(0);
    }

    function notePressed(event) {
      if (event.buttons & 1) {
        let dataset = event.target.dataset;

        if (!dataset["pressed"]) {
          oscList[dataset["octave"][dataset["note"]]] = playTone(dataset["frequency"]);
          dataset["pressed"] = "yes";
        }
      }
    }

    function noteReleased(event) {
      let dataset = event.target.dataset;

      if (dataset && dataset["pressed"]) {
        oscList[dataset["octave"][dataset["note"]]].stop();
        oscList[dataset["octave"][dataset["note"]]] = null;
        delete dataset["pressed"];
      }
    }

    console.log('Requesting MIDI access...');
    var midi, data;
    // request MIDI access
    if (navigator.requestMIDIAccess) {
        navigator.requestMIDIAccess({
            sysex: false
        }).then(onMIDISuccess, onMIDIFailure);
    } else {
        alert("No MIDI support in your browser.");
    }

    // midi functions
    function onMIDISuccess(midiAccess) {
        // when we get a succesful response, run this code
        midi = midiAccess; // this is our raw MIDI data, inputs, outputs, and sysex status

        var inputs = midi.inputs.values();
        // loop over all available inputs and listen for any MIDI input
        for (var input = inputs.next(); input && !input.done; input = inputs.next()) {
            // each time there is a midi message call the onMIDIMessage function
            input.value.onmidimessage = onMIDIMessage;
        }
    }

    function onMIDIFailure(error) {
        // when we get a failed response, run this code
        console.log("No access to MIDI devices or your browser doesn't support WebMIDI API. Please use WebMIDIAPIShim " + error);
    }

    function onMIDIMessage(message) {
        data = message.data; // this gives us our [command/channel, note, velocity] data.
        console.log(data);

        if (data[data.length - 1] == 0) {
            //console.log("Stopping...");
            stopTone(data[1]);
            var duration = parseInt(Date.now() - timeDict[data[1]]) / 1000;     // in seconds
            var numOfColumns = Math.round(duration * 12);
            for (var i=0; i < numOfColumns; i++) {
                noteList.push(data[1]);
                noteNames.push(convertMidiPitchToNoteName(data[1]));
            }

            document.getElementById('notes').innerHTML = '';
            document.getElementById('notes').innerHTML = noteNames;
            document.getElementById('notes_input').value = '';
            document.getElementById('notes_input').value = noteList.toString();
        } else {
            var frequency = Math.pow(2, (data[1] - 69) / 12) * 440;
            timeDict[data[1]] = Date.now();
            playTone(data[1], frequency);
        }
    }

    function convertMidiPitchToNoteName(noteNumber) {
        noteNumber -= 21; // see the explanation below.
        var noteNamelist = ["A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"];
        var octave = Math.ceil(noteNumber / 12);
        var name = noteNamelist[noteNumber % 12];
        if (name == "B" || name == "A#") octave -= 1;       // a hard-code fix
        return name + octave;
    }
</script>
