<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Title Page-->
    <title>AI Music Composition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="container">
      <h2>Chord-based AI Music Composition</h2>
      <p>A visualizer for chord-based music generation.</p>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">RNN</a></li>
        <li><a data-toggle="tab" href="#menu1">CNN</a></li>
        <li><a data-toggle="tab" href="#menu2">VAE</a></li>
        <li><a data-toggle="tab" href="#menu3">GAN</a></li>
        <li><a data-toggle="tab" href="#turing">Musical Turing Test</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>RNN</h3>
          <p>Basic RNN model.</p>
            <div>
                <form action="/play" method="post">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Chord</label>
                        <div class="col-sm-10">
                            <input type="text" name="chords">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Number of bars</label>
                        <div class="col-sm-10">
                            <input type="text" name="bar_number">
                        </div>
                    </div>
                    <button name="forwardBtn" type="submit" class="btn btn-primary">Generate</button>
                </form>

                <!--{% with messages = get_flashed_messages() %}-->
                    <!--{% for m in messages %}-->
                        <!--<p>{{ m }}</p>-->
                    <!--{% endfor %}-->
                <!--{% endwith %}-->

                {% block content %}{% endblock %}

            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div id="turing" class="tab-pane fade">
          <h3>Musical Turing Test</h3>
          <p>Quality test to check if music generated is as good as human composition.</p>
          <p>5 songs are randomly generated as below. Please indicate if you think it is composed by human or AI.</p>
          <br/>
          {% include 'turing.html' %}
        </div>
      </div>
    </div>

</body>
</html>
<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
