<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Title Page-->
    <title>AI Music Composition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="container">
      <h2>ChordAL</h2>
      <h4>Chord-Based Learning Framework for Symbolic Music Generation using Neural Networks</h4>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Generation by Chord</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          {% include 'generation.html' %}
        </div>
      </div>
    </div>
</body>

</html>

