<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Title Page-->
    <title>AI Music Composition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="container">
      <h2>Chord-based AI Music Composition</h2>
      <p>A visualizer for chord-based music generation.</p>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Generation</a></li>
        <!--<li><a data-toggle="tab" href="#result">Result</a></li>-->
        <li><a data-toggle="tab" href="#turing">Musical Turing Test</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          {% include 'generation.html' %}
        </div>
        <div id="turing" class="tab-pane fade">
          <h3>Musical Turing Test</h3>
          <p>Quality test to check if music generated is as good as human composition.</p>
          <p>5 songs are randomly generated as below. Please indicate if you think it is composed by human or AI.</p>
          <br/>
          {% include 'turing.html' %}
        </div>
      </div>
    </div>

</body>
</html>