<div>
    <form action="/turing" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song 1:</label>
            <div class="col-sm-3">
                <a href="#" id='song1' onClick="hide_show(1); {{ song1 }}">
                    <i class="fa fa-play-circle-o" style="font-size:36px;"></i>
                </a>
                <a href="#" onclick="MIDIjs.stop();">
                    <i class="fa fa-stop-circle-o" style="font-size:36px;"></i>
                </a>
                <div style="font-size: 71%;font-size: 71%" id="time_1">
                <div>
                MIDIjs audio time (s): <span name="MIDIjs.audio_time" style="color: green">-</span></div>
                </div>
            </div>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r1" value="0">Human</label>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r1" value="1">AI</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song 2:</label>
            <div class="col-sm-3">
                <a href="#" id='song2' onClick="hide_show(2); {{ song2 }}">
                    <i class="fa fa-play-circle-o" style="font-size:36px;"></i>
                </a>
                <a href="#" onclick="MIDIjs.stop();">
                    <i class="fa fa-stop-circle-o" style="font-size:36px;"></i>
                </a>
                <div style="font-size: 71%;font-size: 71%" id="time_2">
                <div>
                MIDIjs audio time (s): <span name="MIDIjs.audio_time" style="color: green">-</span></div>
                </div>
            </div>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r2" value="0">Human</label>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r2" value="1">AI</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song 3:</label>
            <div class="col-sm-3">
                <a href="#" id='song3' onClick="hide_show(3); {{ song3 }}">
                    <i class="fa fa-play-circle-o" style="font-size:36px;"></i>
                </a>
                <a href="#" onclick="MIDIjs.stop();">
                    <i class="fa fa-stop-circle-o" style="font-size:36px;"></i>
                </a>
                <div style="font-size: 71%;font-size: 71%" id="time_3">
                <div>
                MIDIjs audio time (s): <span name="MIDIjs.audio_time" style="color: green">-</span></div>
                </div>
            </div>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r3" value="0">Human</label>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r3" value="1">AI</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song 4:</label>
            <div class="col-sm-3">
                <a href="#" id='song4' onClick="hide_show(4); {{ song4 }}">
                    <i class="fa fa-play-circle-o" style="font-size:36px;"></i>
                </a>
                <a href="#" onclick="MIDIjs.stop();">
                    <i class="fa fa-stop-circle-o" style="font-size:36px;"></i>
                </a>
                <div style="font-size: 71%;font-size: 71%" id="time_4">
                <div>
                MIDIjs audio time (s): <span name="MIDIjs.audio_time" style="color: green">-</span></div>
                </div>
            </div>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r4" value="0">Human</label>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r4" value="1">AI</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song 5:</label>
            <div class="col-sm-3">
                <a href="#" id='song5' onClick="hide_show(5); {{ song5 }}">
                    <i class="fa fa-play-circle-o" style="font-size:36px;"></i>
                </a>
                <a href="#" onclick="MIDIjs.stop();">
                    <i class="fa fa-stop-circle-o" style="font-size:36px;"></i>
                </a>

                <div style="font-size: 71%;font-size: 71%" id="time_5">
                <div>
                MIDIjs audio time (s): <span name="MIDIjs.audio_time" style="color: green">-</span></div>
                </div>

            </div>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r5" value="0">Human</label>
            <label class="col-sm-2 radio-inline"><input type="radio" name="r5" value="1">AI</label>
        </div>
        <button name="forwardBtn" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!--{% with messages = get_flashed_messages() %}-->
        <!--{% for m in messages %}-->
            <!--<p>{{ m }}</p>-->
        <!--{% endfor %}-->
    <!--{% endwith %}-->

    {% block content %}{% endblock %}

</div>
<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
<script type="text/javascript">
  function hide_show(num) {
    document.getElementById('time_1').style.visibility  = "hidden";
    document.getElementById('time_2').style.visibility  = "hidden";
    document.getElementById('time_3').style.visibility  = "hidden";
    document.getElementById('time_4').style.visibility  = "hidden";
    document.getElementById('time_5').style.visibility  = "hidden";

    document.getElementById('time_' + num).style.visibility  = "visible";
  };

  var time_span = document.getElementsByName('MIDIjs.audio_time');
  MIDIjs.player_callback = display_time;
  function display_time(player_event) {
     for(i=0; i<time_span.length; i++){
        time_span[i].innerHTML = player_event.time.toFixed(2);
     }
  };
</script>